__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
node_modules/
build/
dist/
htmlcov/
coverage.xml
.coverage
.coverage.*
target/
*.pyc
*.pyo
*.env
examples/npm-package/.yarn/
examples/python-package/poetry.lock
